<app-header></app-header>
<nav id="nav-3" class="flex flex-row flex-wrap">
  <a
    class="link-3"
    routerLink="/solid"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Solid</a
  >
  <a
    class="link-3"
    routerLink="/generic"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Generic</a
  >
  <a
    class="link-3"
    routerLink="/decorator"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Decorator</a
  >
</nav>

<router-outlet></router-outlet>
